*{box-sizing: border-box;margin: 0;padding: 0;}

:root{
    --white: #fff;
    --black: #111111;
    --wb-main-blue: #182A41;
    --wb-lemon: #E1EF79;/* CAD62B */
    --para: #444;
    --head-grey: #3E5057;
    --wb-grey: #DDD;
    --wb-orange: #E8402A;
}

body{color: var(--para);font-family: 'Rubik',sans-serif;font-size: 18px;font-weight: 400;line-height: 28px; }
a{text-decoration: none;color: var(--para);}

/* comman classes */
.section-space-pt{padding-top:80px;}
.section-space{padding: 50px 0px;}
.ym_container{width: 1800px;margin: 0 auto;padding: 10px;}
.main_btn{background-color: var(--wb-lemon);border-radius: 5px; color: var(--wb-main-blue);padding: 14px 28px;display: flex;width: fit-content;align-items: center;gap: 5px;}
.main_white_head{color: var(--white);font-size: 60px;font-weight: 400;line-height: 70px;margin-bottom: 24px;font-family: "Kropaso", sans-serif;}
.main_h1_head{color: var(--wb-main-blue);font-size: 60px;font-weight: 400;line-height: 70px;margin-bottom: 24px;font-family: "Kropaso", sans-serif;}
.main_head{color: var(--wb-main-blue);font-size: 48px;font-weight: 500;margin-bottom: 24px;font-family: "Kropaso", sans-serif;}
.main_head_red{color: var(--wb-orange);font-size: 48px;font-weight: 600;}
.sub_head{color: var(--wb-main-blue);font-size: 40px;font-weight: 600; line-height: 56px;margin-bottom: 24px;}
.sub_title{color: var(--wb-main-blue);font-size: 30px; font-style: normal; font-weight: 400;line-height: normal;}
.btn_svg img{rotate:0deg;transition: 0.4s ease-in-out;}
.main_btn:hover .btn_svg img{rotate:90deg;transition: 0.4s ease-in-out;}
.btn_svg{transform: translateX(3px);display: inline-block; transition: all 0.4s ease;}
.main_btn:hover .btn_svg{transform: translateX(10px);}
.sec_head{display: flex; align-items: center; justify-content: space-between;margin-bottom: 50px;}
.bd_radius{border-radius: 10px;}
.about, .result, .process, .industries, .service, .testimonial, .industry_info, .ind_box, .contact,.network,.request{margin-top:80px;}
/* comman classes */

  /* header css */
  .dropdown-toggle::after{display: none;}
  .navbar-nav{gap:20px;}
  #navbarNav .nav-item .nav-link{position: relative;color: var(--wb-main-blue);font-size: 20px;line-height: 80px;}
  /* #navbarNav .nav-item .nav-link::before{position: absolute;left: -4px;top:40%; content: ''; height: 6px;width: 6px;background-color: var(--head-grey);border-radius: 50%;} */
  .language-switch{display: flex; align-items: center;}
  .language-switch select{
    border: none;
    background: transparent;
    cursor: pointer;
    outline: none;
    padding-left: 5px;
    /* appearance: none; 
    -webkit-appearance: none;
    -moz-appearance: none; */
  }

  .search-box {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    cursor: pointer;
}

  .search-box__dropdown {
    position: absolute;
    width: 265px;
    top: 100%;
    right: 10px;
    background-color: var(--white);
    box-shadow: 0 0 8px 0 rgba(66, 71, 76, 0.06);
    z-index: 20;
    margin-top: 10px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    visibility: collapse;
    opacity: 0;
    transition: 0.5s all;
  }
  
  .search-box__dropdown.open {
    visibility: visible;
    display: block;
    opacity: 1;
    transition: 0.5s all;
  }
  
  .search-box__input {
    border: none;
    width: 100%;
    padding: 8px 20px;
    height: 50px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid var(--wb-grey);
  }
  input:focus-visible{outline: none;}
  /* header css */

/* .hero_slide{position: relative;} */
.hero_section{overflow: hidden;}
.hero_content{left: 5%;top:25%;text-align: left;}
.hero_slide_head{color: var(--white);font-size: 60px;font-weight: 400;line-height: 70px;font-family: "Kropaso", sans-serif;}

.scroll_dwn{display: flex;flex-direction: column;gap: 10px;position: absolute; bottom: 8%;left: auto;right: 45%;color: var(--wb-grey);align-items: center;justify-content: center;font-size: 16px;z-index: 1;}


/* heroslider */
.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 24px;
  background: var(--wb-orange);
  color: var(--white);
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  transition: 0.3s;
}

.btn:hover {
  background: var(--wb-orange);
}

/* Custom Navigation Buttons */
.custom-nav {
  position: absolute;
  bottom: 11%;
  left: 90%;
  transform: translateX(-50%);
  display: flex;
  gap: 15px;
}


/* Slick Default Dots Styling */
/* Custom Pagination Dots */
.slick-dots {
  position: absolute;
  bottom: 20px; /* Adjust this value based on your design */
  left: 50%;
  transform: translateX(-50%);
  display: flex !important;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Default state of pagination rectangles */
.slick-dots li {
  width: 150px;  
  height: 3px;  
  background: #99A639;  
  border-radius: 3px;
  position: relative;
  cursor: pointer;
}

/* Progress bar effect inside the active dot */

.slick-dots li.slick-active::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  border-radius: 3px;
  background: #E1EF79; /* Red fill for progress */
  animation: fillProgress 4.5s ease forwards; /* Progress animation */
}
    @keyframes fillProgress {
      from {
          width: 0%;
      }
      to {
          width: 100%;
      }
  }
  .hero_slider .slick-dots{width: fit-content!important;left: 18% !important; bottom: 12%!important;}
  /* Hide default slick button text */
  .slick-dots li button {display: none;}
  .hero_slider .slick-dots li:nth-child(1)::after {
    content: '1. Services';
    color: var(--white); /* Matches your image text color */
    font-size: 16px; /* Adjust based on your design */
    position: absolute;
    left: 20px; /* Adjust to position next to the dot/button */
    top: 5px; /* Adjust vertically to align with the button */
  }
  
  .hero_slider .slick-dots li:nth-child(2)::after {
    content: '2. Industries';
    color: var(--white);
    font-size: 16px;
    position: absolute;
    left: 20px;
    top: 5px;
  }
  
  .hero_slider .slick-dots li:nth-child(3)::after {
    content: '3. Our Solutions';
    color: var(--white);
    font-size: 16px;
    position: absolute;
    left: 20px;
    top: 5px;
  }
  .hero_section {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .hero_slider .hero_slide {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    color: var(--white);
    background-size: cover;
    background-position: center;
    position: relative;
  }
  
  /* .hero_slider .hero_slide::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  } */

  /* result */
  .result{position: relative;z-index: 2;}
  .result::before{position: relative;z-index: -1;position: absolute; content: '';background-image: url(../images/countries-bg.png);right: 0;top: 0;height: 100%;width: 100%;background-repeat: no-repeat;background-position: right;}
.result_info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 30px;
}
.result_info h3{font-size: 60px;font-weight: 600;line-height: normal;color: var(--wb-main-blue);}
.border-leftresult {border-right: 1px solid var(--wb-grey);}
.border_class{border-width: 10px; 
  border-style: solid;
  border-image-source: url('../images/border_line_2.svg');
  border-image-slice: 10;
  border-image-repeat: stretch;}
/* result */

/* .abt_ctnt,.abt_img_2{  border-top-width: 10px; 
  border-image-source: url('../images/border_top.svg');
  border-image-slice: 10 10 0 10; 
  border-image-width: 10px; 
  border-image-repeat: stretch; 
  border-right: none;
  border-left: none;
  border-bottom: none;} */
  /* .border_btm{border-bottom-width: 10px;
    border-bottom-style: solid;
    border-image-source: url('../images/border_top.svg');
    border-image-slice: 0 10 10 10; 
    border-image-width: 10px;
    border-image-repeat: stretch;
    border-top: none;
    border-left: none;
    border-right: none;} */

    /* process */
    /* .process .row .col-lg-6:first-child{padding-right: 50px;} */
    /* .process .row .col-lg-6:last-child{} */
    .bd_left{
      border-left: 1px solid var(--wb-grey);
    padding-left: 30px;
    }
    .bd_right{
      padding-right: 50px;
      border-right: 1px solid var(--wb-grey);

     }
    .process_head{display: flex;align-items: flex-end;margin-bottom: 25px;justify-content: space-between;}
    .process_head h4{font-size: 60px;color: var(--wb-main-blue)}
    .process_head h6{color: var(--wb-main-blue);font-size: 34px;font-weight: 600;}
  
 .processslider{padding-bottom: 50px;margin-bottom: 40px;}
  .processslider .slick-arrow , .certificate_slider .slick-arrow, .test_msg_slider .slick-arrow{
    position: absolute;
    top: 100%;
    z-index: 10;
    border: none;
  padding: 20px 20px;
  color: var(--white);
  font-size: 0px;
  cursor: pointer;
  border-radius: 50%;
    
  }
  .processslider .slick-arrow.slick-prev ,.certificate_slider .slick-arrow.slick-prev ,.test_msg_slider .slick-arrow.slick-prev {
    left: 0;
    background-image: url('../images/slider_leftarrow.svg');background-repeat: no-repeat;background-color:var(--head-grey);
    background-position: center;
  }
  .processslider .slick-arrow.slick-next , .certificate_slider .slick-arrow.slick-next ,.test_msg_slider .slick-arrow.slick-next {
    right: 88%;
    background-image: url('../images/slider_rightarrow.svg');background-repeat: no-repeat;background-color:var(--head-grey);
    background-position: center;
  }
  .processslider .slick-arrow.slick-disabled {
    opacity: 0.2;
  }
  .processslider .slick-prev:before, .processslider .slick-next:before , .certificate_slider .slick-next:before, .certificate_slider .slick-prev:before
  , .test_msg_slider .slick-next:before, .test_msg_slider .slick-prev:before{display: none;}
  /* process */

  /* inds slider */
  .service, .industries{padding-bottom: 50px;}
  .home_inds_slide{background-color: #F5F5F5;padding: 30px;margin-right:10px;}
  .inds_slide_head{display: flex;gap: 30px;}
  .industry_img{width: 100%;overflow: hidden;}
  .icon_count{display: flex;flex-direction: column;justify-content: space-between;}
  .count{color: var(--wb-orange);font-size: 60px;font-weight: 600;}
  .inds_slide_foot{display: flex;justify-content: space-between;}
  .service_slider .slick-dots, .home_inds_slider .slick-dots {display: flex !important;justify-content: center;margin-top: 20px!important;margin: 0 auto;bottom:-30px!important;}
  .service_slider .slick-dots li, .home_inds_slider .slick-dots li {background-color: var(--wb-grey);width: 80px;}
  .service_slider .slick-dots li.slick-active::before, .home_inds_slider .slick-dots li.slick-active::before{background: var(--head-grey);}
  
  .test_msg_slider .slick-dots, .network_slider .slick-dots{bottom:-30px!important;}
  /* inds slider */

  /* service slider */
  .serv_slid_wrapper{background-color: #E9F3FF;padding: 0px 15px 20px 15px;width: fit-content; border-radius: 10px;}
  .serv_slid_image{position: relative;background-color: #E7EAEF;padding: 50px 50px 20px 50px;transform: translate(-40px, -40px);width: calc(100% + 20px);height: calc(100% + 10px);}
  .serv_tag{padding: 10px 28px;background-color: var(--wb-main-blue);color: var(--white);width: fit-content;position: absolute;top: 0;left: 0;    border-radius: 5px; margin: 12px; }
  .service_slide{padding-top:40px;margin-inline: 28px;}
  /* service slider */

  /* solution */
  .expert_1{background-color: var(--wb-main-blue);position: relative;color: var(--white)!important;padding: 30px 70px;z-index: 2;}
  .expert_1::before{content: '';position: absolute;background-image: url(../images/expert_bg_1.png);top: 0;right: 0;background-repeat: no-repeat;height: 100%;width: 100%;z-index: -1;background-position: right;background-size: contain;}
  .expert_2::before{content: '';position: absolute;background-image: url(../images/expert_bg_2.png);bottom: 0;left: 0;background-repeat: no-repeat;height: 100%;width: 100%;z-index: -1;background-position: bottom;}
  /* .service .sec_head h2 , .result .sec_head h2{font-weight: 600; font-size: 40px;} */
  .tab_wrapper{max-width: 700px;margin-left: auto;background-color: var(--white);}
  .tab_wrapper #myTab , .faq_wrapper #faqtab {width: fit-content;border-bottom: 1px solid var(--wb-grey);}
  .tab_wrapper .nav-tabs .nav-link.active ,.faq_wrapper .nav-tabs .nav-link.active {
    color: var(--wb-main-blue);
    background-color: transparent;
    border-color: transparent;
    /* border-bottom: 6px solid var(--head-grey)!important; */
    position: relative;
    font-weight: 600;
    border-radius: 0px;padding-bottom: 35px;
  }
  .tab_wrapper .nav-tabs .nav-link.active::before ,.faq_wrapper .nav-tabs .nav-link.active::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%; /* Full width underline */
    height: 6px; 
    background-color: var(--wb-lemon);
    border-radius: 10px; /* Smooth round effect */
  }
  
  .tab_wrapper .nav-tabs .nav-link.active::after ,.faq_wrapper .nav-tabs .nav-link.active::after {
    position: absolute;
    content: '';
    bottom: -1px;
    left: 40%;
    width: 35px;
    height: 26px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='20' viewBox='0 0 32 20' fill='none'%3E%3Cpath d='M15.9746 0L31.1301 19.5H0.819165L15.9746 0Z' fill='%23E1EF79'/%3E%3C/svg%3E");
    background-size: contain;
    background-repeat: no-repeat;
  }
  .tab_wrapper .nav-tabs .nav-link ,.faq_wrapper .nav-tabs .nav-link {color: var(--head-grey);padding-bottom: 20px;font-size: 40px;border-color: transparent;border: none;}
  .tab_wrapper  .nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover , .faq_wrapper  .nav-tabs .nav-link:focus {border-color:transparent;}
  .tab_wrapper .tab-content {background-color: #1E292E;padding: 34px;color: var(--white);margin-top: 50px;}
  .tab_head , .faq_wrapper .tab_head {padding-bottom: 24px;border-bottom-width: 10px;margin-bottom: 40px;
    border-image-source: url(../images/white_border.svg);
    border-image-slice: 0 10 10 10;
    border-image-width: 10px;
    border-image-repeat: stretch;
    border-right: none;
    border-left: none;
    border-top: none;}

    .right_solution{position: relative;overflow: hidden;height: 100%;}
    .text_wrap{position: absolute; right: 0;top:-40%; animation: text_rotate 50s linear infinite;z-index: -1;}
    @keyframes text_rotate {
      0% {
        rotate: 0deg;
      }
      100% {
        rotate: 360deg;
      }
    }
  /* solution */

  /* testimonials */
  .testimonial{background: #E9F3FF;padding: 70px 0;}
  /* .testimonial .container{padding-inline: 300px;text-align: center;} */
  .test_writer {display: flex;align-items: center;gap: 24px;justify-content: center;}
  .test_msg_slide .sub_title{color: var(--wb-main-blue); font-weight: 600;}
  .test_name{font-size: 23px;line-height: 28px;margin-bottom: 0;font-weight: 500;}
  .test_post{font-size: 16px;margin: 0;}
  .test_face{margin-bottom: 50px;}
  .test_face_slide img{cursor: pointer;}
  .test_msg_slider .slick-arrow.slick-next{right: -20%;top: 50%;}
  .test_msg_slider .slick-arrow.slick-prev{left  : -20%;top: 50%;}
  .face_slide_bg{
    border-radius: 100%;
    padding: 4px;
    width: fit-content;
    position: relative;
  }
  /* .test_face_slide.slick-slide.slick-current.slick-active .face_slide_bg{border:1px solid var(--head-grey)} */
  .progress-circle{display: none;}

.test_face_slide.slick-slide.slick-current.slick-active .progress-circle{display: block;}
  .circle-progress {
    fill: none;
    stroke: var(--wb-lemon);
    stroke-width: 3;
    stroke-linecap: round;
    transform: rotate(-90deg);
    transform-origin: center;
    stroke-dasharray: 219.91148575129; 
    stroke-dashoffset: 219.91148575129;
    animation: progress 2.5s ease ;
}

@keyframes progress {
    from {
        stroke-dashoffset: 219.91148575129;
    }
    to {
        stroke-dashoffset: 0;
    }
}
.progress-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
}

.circle-bg {
  fill: none;
  stroke: #e2e8f0;
  stroke-width: 3;
}
  /* testimonials */

  /* footer */
  footer{background-color: var(--wb-main-blue);color: var(--white);padding:50px 30px 30px;margin-top: 50px;}
  .ft_head{font-size: 30px;font-weight: 600;padding-bottom: 14px; margin-bottom: 18px;border-bottom: 1px solid var(--wb-grey);width: fit-content;}
    .ft_menu, .ct_link{list-style-type: none;margin: 0;padding: 0;}
    .ft_menu li{margin-bottom: 14px;list-style-type: none;}
    .ft_menu a{color: var(--white);}
    .newsletter{background-color: var(--wb-orange);padding: 36px;width: calc(100% + 40px);transform: translate(0%, -50%)}
    .newsletter .main_btn{color: var(--wb-orange);background-color: var(--white);}
    .newsletter h5{margin-bottom: 0; color: #F15F4B;transform: rotate(-90deg);position: absolute;top:56px;right: 30px;}
    .pd_right{padding-right: 100px;}
    .white_bd_right{border-right: 1px solid white;padding-right: 1.5rem;}
    .white_bd_left{border-left: 1px solid var(--wb-grey);padding-left: 2.5rem;}
    /* footer .col-lg-4{padding-right: 100px;} */
  /* footer */

/* industries */
.contact_banner_ctnt{text-align: center;color: var(--white);}
.contact_banner_ctnt{background-position: center;background-repeat: no-repeat; background-size: cover; display: flex; flex-direction: column; justify-content: center; align-content: center;align-items: center;inset: 0;    padding: 60px 0px;}
.contact_banner{position: relative;}
.contact_banner_ctnt .main_head, .contact_banner_ctnt a{color: var(--white);}
.contact_banner_ctnt span{color: var(--wb-grey);font-weight: 400;}
/* industries */
/* contact */
.ct_box{padding: 20px 40px;border: 1px solid var(--wb-grey);border-radius: 10px;height: 100%;}
.ct_head{font-size: 20px;color: var(--wb-main-blue); font-weight: 600;margin-bottom: 24px;position: relative;}
/* .ct_head::before{position: absolute;content: '';height: 8px;width: 8px;background-color: var(--wb-orange);border-radius: 50%; left: -18px;top:8px;} */
.map_wrapper{position: relative;}
.map_wrapper .main_btn{position: absolute;top: 0;left: 0;z-index: 2;}
.map_wrapper::after{content: "";position: absolute;top: 0;left:0; background: rgba(0, 0, 0, 0.5);;width: 100%;height: 99%;border-radius: 10px;}
.form_item label{color: var(--black);font-weight: 600;font-size: 20px;margin-bottom: 6px;}
.form_item input, .form_item textarea{width: 100%;padding: 12px;border: 1px solid var(--wb-grey);border-radius: 5px;}
.form_item{margin-bottom: 35px;}
.form_wrapper button{border: none;}
/* .form_wrapper{padding-left: 50px;} */
/* contact */

/* about */
.breadcrumbs_banner{
  background-image: url(http://localhost/Almuffadal/images/contact_bg.png);
  padding: 40px 0px;
  text-align: center;
}
.breadcrumbs_banner_ctnt{
  text-align: center;
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.breadcrumbs_banner_ctnt a ,.breadcrumbs_banner_ctnt .main_head{
  color: var(--white);
}

/* Timeline defaults */
/* --------------------------------------- */
.h--timeline-container *, .h--timeline-events * {
  outline: 0;
}
.h--timeline-container, .h--timeline-events {
  position: relative;
  width: 100%;
  /* max-width: 1200px; */
  margin: 0 auto;
}
.h--timeline-navigation-container ul, .h--timeline-navigation-container li, .h--timeline-events ol, .h--timeline-events li, .h--timeline-line ol, .h--timeline-line li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.h--timeline {
  opacity: 0;
  transition: opacity 0.2s;
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
}
.h--timeline--loaded {
  opacity: 1;
}
.h--timeline-container {
  height: 100px;
}
.h--timeline-dates {
  position: relative;
  height: 100%;
  margin: 0 40px;
  overflow: hidden;
}
/* Timeline blur effect for start and end */
/* --------------------------------------- */
.h--timeline-dates::after, .h--timeline-dates::before {
  content: '';
  position: absolute;
  z-index: 2;
  top: 0;
  height: 100%;
  width: 50px;
}
.h--timeline-dates::before {
  left: 0;
  background: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
}
.h--timeline-dates::after {
  right: 0;
  background: linear-gradient(to left, #fff, rgba(255, 255, 255, 0));
}
/* Timeline horizontal line */
/* --------------------------------------- */
.h--timeline-line {
  position: absolute;
  z-index: 1;
  left: -20px;
  top: 49px;
  height: 2px;
  background-color: #f7f7f7;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}
.h--timeline-filling-line {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(90deg, rgba(154, 164, 164, 0.00) 0%, #9AA4A4 50%, rgba(154, 164, 164, 0.00) 100%);
  /* background-color: #6e1e46; */
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: left center;
  -ms-transform-origin: left center;
  transform-origin: left center;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
/* Bullet points */
/* --------------------------------------- */
.h--timeline-date {
  position: absolute;
  /* bottom: 0; */
  top: -11px;
  z-index: 2;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  padding-bottom: 0.75rem;
  color: #000;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
  background: #fff;
  padding: 0 3px;
}
.h--timeline-date:hover {
  font-weight: 600;
}
/* .h--timeline-date::after, .h--timeline-date::before {
  content: '';
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: -8px;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border-width: 2px;
  border-style: solid;
  border-color: #6e1e46;
  background-color: #f7f7f7;
  transition: background-color 0.3s, border-color 0.3s, top 0.3s;
}
.h--timeline-date::before {
  bottom: -3px;
  height: 9px;
  width: 9px;
  border-width: 0px;
  border-color: transparent;
  background-color: transparent;
  z-index: 2;
}
.h--timeline-date:hover::before, .h--timeline-date:hover::after {
  transition: background-color 0.3s, border-color 0.3s, top 0.3s;
}
.h--timeline-date:hover::after {
  background-color: #f7f7f7;
  border-color: #6e1e46;
} */
.h--timeline-date--selected {
  pointer-events: none;
  color: #E8402A;
text-align: center;
font-size: 60px;
font-style: normal;
font-weight: 600;
line-height: 56px; /* 93.333% */
transform: translateY(-30%);
}
.h--timeline-date--selected::after {
  background-color: #f7f7f7;
  border-color: #6e1e46;
}
.h--timeline-date--selected::before {
  background-color: #6e1e46;
}
.h--timeline-date--older-event::after {
  background-color: #6e1e46;
  border-color: #6e1e46;
}
/* Caroussel navigation */
/* --------------------------------------- */
.h--timeline-navigation {
  font-size: 0;
  position: absolute;
  z-index: 2;
  top: -110%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border-width: 2px;
  border-style: solid;
  border-color: #f7f7f7;
  transition: border-color 0.3s;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.timeline_img{
  position: relative;
}
.h--timeline-navigation::after {
  content: '';
  position: absolute;
  height: 16px;
  width: 16px;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url(data:image/pngbase64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAgCAYAAAAbifjMAAABQUlEQVRIS9XUwWrCQBAG4JnEhiRHBQut+AY+gEq8tLSvUuih9Ek8iL5K0YMEvPkEHjwo2lYQek2IMdOJJ7tuki5LDnoKyHzZnZn8CJo/1KwHKfB299iMKcHh93Rd9IIL4OX2qX5j0QwRLTpG3uDT3+YhF8B747kaY+Iz0OLCVRxE7dHe32Uh0iucI0SwhIPZGew+9jIks4l/EIAFRGZPhuROQUQqCXb72/HP+UnKA7SuoNVEsfgYRp7SGF/vH2qmacwB0CjagbSZmat8AINGX5ON8ioXFYj/l/M1qpyinBMEQdBMG+w4jnoeEFE9DMMZAxY/e67rquUBF1UZ8Bk45YFt223OBrU8EJAlIx1G1PJAQBaM9GRI7hQkSJeR/+eBFqB1Ba0mSoo9pTEyUOM94DwAo2gHMvMgXWWGiLfwCvLgF1jY2yHNUya7AAAAAElFTkSuQmCC) no-repeat 0 0;
}
.h--timeline-navigation:hover {
  border-color: #6e1e46;
}
.h--timeline-navigation--prev {
  left: 37px;
  /* -webkit-transform: translateY(-50%) rotate(180deg);
  -ms-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg); */
}
.h--timeline-navigation--next {
  right:37px;
}
.h--timeline-navigation--inactive {
  cursor: not-allowed;
}
.h--timeline-navigation--inactive::after {
  background-position: 0 -16px;
}
.h--timeline-navigation--inactive:hover {
  border-color: #f7f7f7;
}
/* Timeline events container */
/* --------------------------------------- */
.h--timeline-events {
  overflow: hidden;
  transition: height 0.4s;
  padding-top: 1rem;
  padding-bottom: 3rem;
}
.h--timeline-event {
  position: absolute;
  z-index: 1;
  width: 100%;
  left: 0;
  top: 1rem;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  padding: 1px 5%;
  opacity: 0;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  display: flex;
      justify-content: center;
      align-items: flex-end;
}
.h--timeline-event-content {
  /* max-width: 800px; */
  margin: 2rem auto 0;
  padding: 2rem;
  /* border: 1px solid #f7f7f7; */
  border-radius: 5px;
  /* box-shadow: 0 0 50px 0 rgba(0, 0, 0, .1); */
  position: absolute;
  z-index: 2;
  /* right: 0; */
  /* left: 0; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.h--timeline-event--selected {
  position: relative;
  top: 0;
  z-index: 2;
  opacity: 1;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}
/* Timeline animations */
/* --------------------------------------- */
.h--timeline-event--enter-right, .h--timeline-event--leave-right {
  -webkit-animation-name: cd-enter-right;
  animation-name: cd-enter-right;
}
.h--timeline-event--enter-left, .h--timeline-event--leave-left {
  -webkit-animation-name: cd-enter-left;
  animation-name: cd-enter-left;
}
.h--timeline-event--leave-right, .h--timeline-event--leave-left {
  animation-direction: reverse;
}
.h--timeline-event-title {
  color: #FFF;
text-align: center;
font-family: Rubik;
font-size: 60px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.h--timeline-event-date {
  display: block;
  color: #DDD;
text-align: center;
font-family: Rubik;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 116.667% */
  margin: 0.5rem auto;
  margin: 1rem auto;
}
.h--timeline-event-description{
  color: #EEE;
text-align: center;
font-family: Rubik;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 155.556% */
}
.h--timeline-event-date::before {
  content: '- ';
}
@-webkit-keyframes cd-enter-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
 }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
 }
}
@keyframes cd-enter-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
 }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
 }
}
@-webkit-keyframes cd-enter-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
 }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
 }
}
@keyframes cd-enter-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
 }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
 }
}
/* Overwrites */
/* Change the position of dates top / botom / top */
/* --------------------------------------- */
.h--timeline-date::after, .h--timeline-date::before {
  background-color: #6e1e46;
}
.h--timeline-date--selected::after {
  background-color: #f7f7f7;
  border-color: #6e1e46;
}
.h--timeline-date--older-event::after {
  background-color: #6e1e46;
  border-color: #6e1e46;
}
/* .h--timeline-line li:nth-child(even) .h--timeline-date {
  bottom: -48px;
} */
.h--timeline-line li .h--timeline-date--selected::after, .h--timeline-line li .h--timeline-date:hover::after {
  width: 21px;
  height: 21px;
  bottom: -11px;
  background-color: #f7f7f7;
  border-color: #6e1e46;
}
.h--timeline-line li:nth-child(even) .h--timeline-date::after {
  bottom: 40px;
}
.h--timeline-line li:nth-child(even) .h--timeline-date:hover::after, .h--timeline-line li:nth-child(even) .h--timeline-date--selected::after {
  bottom: 37px;
}
.h--timeline-line li:nth-child(even) .h--timeline-date::before {
  bottom: 45px;
}
.h--timeline-line li:nth-child(odd) .h--timeline-date:hover::before, .h--timeline-line li:nth-child(odd) .h--timeline-date--selected::before {
  bottom: -3px;
}
/**/

.vision-img {
  position: absolute;
  top: 22%;
}
.border_btm_line{
  border-bottom: 1px solid var(--wb-grey);
}
.director_name{
  color: var(--wb-orange);
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 20px; /* 100% */
margin-bottom: 2px;
}
.f-16{
  font-size: 16px;
}

.network_slider img {
  filter: grayscale(100%);
  transition: filter 0.3s ease-in-out;
}
.network_slider img:hover {
  filter: grayscale(0%);
}
.excellence-item li{
  color: var(--wb-orange);
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-bottom: 15px;
}
.countries-section{
  background-image: url(../images/countries-bg.png);
  background-position: right;
    background-repeat: no-repeat;
    background-size: auto;
}

/* / qm page / */
.border_btm_line{
  border-bottom: 1px solid var(--wb-grey);
}
.qm_box{padding-bottom:14px;margin-top: 40px;}
.qm_list li::marker ,strong {color: var(--wb-orange);}
.certi_slide{border-radius: 10px;border: 1px solid var(--wb-grey);padding: 10px;margin-right: 40px;}
.certibox{display: flex;flex-direction: column; gap: 15px;justify-content: center;align-items: center;background: #E7EAEF;padding: 10px 75px 20px;}
.certibox h3{font-size: 20px;font-weight: 600;line-height: 26px;    text-align: center;}
.certificate_slider .slick-arrow.slick-next{top: -16%;left: 96%;}
.certificate_slider .slick-arrow.slick-prev{top: -16%;left: 90%;}
  /* / qm page / */

    /* / blog listing / */
    .blog_wrapper{
      padding: 40px 25px;
      display: flex;
      flex-direction: column; 
      gap:24px;
      border-radius: 10px;
      border: 1px solid var(--wb-grey);
    }
    .blog-description .qm_box {
      padding-bottom:14px;margin-top: 10px;
    }
    .blog_date{color: var(--para);font-size: 16px;margin: 0;font-weight: 400;}
    .blog_title{font-size: 30px;color: var(--wb-main-blue); font-weight: 400; margin-bottom: 15px;}
    .blog_desc{font-size: 18px;line-height: 28px;overflow: hidden;display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;margin-bottom: 0;}
    /* / blog listing / */
  
  /* / faq / */
  .accordion-item{border-radius: 10px!important;border: 1px solid var(--wb-grey);}
  .faq_wrapper .tab-content{margin-top: 100px;}
  .accordion-button:not(.collapsed){color:var(--black)!important; background-color: transparent!important;box-shadow: none!important;}
  .accordion-button:focus{box-shadow: none;}
  .accodian_left{padding-right: 50px;}
  .accordion-item:not(:first-of-type){border-top: 1px solid var(--wb-grey)!important;}
  .accordion-button{font-size: 20px;font-weight: 600;line-height: 28px;}
  .accordion-button::after{background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27' height='14' viewBox='0 0 27 14' fill='none'%3E%3Cpath d='M1.2832 1L13.2832 13L25.2832 1' stroke='%23BBBBBB' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");}
  .accordion-button:not(.collapsed)::after{background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27' height='15' viewBox='0 0 27 15' fill='none'%3E%3Cpath d='M25.7168 1.25781L13.7168 13.2578L1.7168 1.25781' stroke='%23172A42' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");}
  
  .accordion-item:first-of-type>.accordion-header .accordion-button,
  .accordion-item:last-of-type>.accordion-header .accordion-button.collapsed{border-radius: 10px;}
  
  /* / privacy policy page / */
  
  .sidebar {
    position: sticky;
    top: 0px;
  }
  #sidebarMenu .nav-link {
    border-left: 4px solid var(--wb-grey);
    padding-left: 15px;
    color: #888;
    font-size: 20px;
    line-height: 28px;
    transition: all 0.3s ease;
  }
  #sidebarMenu .nav-link.active {
    border-left-color: var(--wb-main-blue);
    color: var(--wb-main-blue);
    font-size: 24px;
    font-weight: 600;
  }

  /* Life AME */
  .Join-card{
    border-radius: 10px;
  border: 1px solid var(--wb-grey);
  padding: 43px 30px;
  text-align: center;
  height: 100%;
   }
   .engineers-item{
    padding-left: 1rem;
   }
   /* testimonial */
   .testimonial_writer{
    display: flex;
    align-items: center;
    gap: 24px;
    justify-content: flex-start;
   }
   .testimonial-card{
    border-radius: 10px;
    border: 1px solid var(--wb-grey);
    padding: 34px;
    gap: 28px;
    display: grid;

   }

   /* current vacancies css*/
.apply-card {
  display: flex;
  padding: 34px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid #DDD;
}
.current-vacancies hr{
  margin: 50px 0px;
  color: var(--gold);
}

/* marine-boiler-engineer-job-detail css*/
.two-column-list .sub_title {
  color: var(--wb-main-blue);
font-size: 18px;
font-style: normal;
/* font-weight: 600; */
line-height: normal;
}
.two-column-list .sub_title b {
font-size: 20px;

}
.two-column-list{
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  grid-template-columns: 4fr 8fr;
  gap: 10px; 

}
.apply-form{
  border-radius: 6px;
border: 1px solid #DDD;
display: inline-flex;
padding: 34px;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 28px;
}
.custom-file-upload {
  padding: 20px;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #DDD;
  background: var(--White, #FFF);
  transition: all 0.3s ease-in-out;
  display: block;
}
.custom-file-upload p {
  margin: 5px 0;
  font-size: 16px;
  color: var(--para);
}

.custom-file-upload input {
  display: none; /* Hide Default Input */
}
.item_disc_ul {
  padding-left: 1rem;
  gap: 10px;
  display: grid;
}
.sidebar {
  align-items: flex-start;
}
.sticky-sidebar {
  position: sticky;
  top: 35px;
}
/* certifications */
.certi_box{
  border-radius: 10px;
  background: #E9F3FF;
  padding: 35px;
text-align: center;
}
.certi_border{
  border: 1px solid var(--wb-grey);
  padding: 12px;
  border-radius: 10px;

}
.certi_wrapper{
  
}